<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://kit.fontawesome.com/721e590641.js" crossorigin="anonymous"></script>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/home.css">
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <div id="container">
            <h1 id="header"><i class="fa-solid fa-list"></i>&ensp;<%= title %></h1>
            <div id="form-container">           <!-- Contains all form elements -->
                <form id="add-task-form" action="/add-task" method="post">
                    <div class="task-desc-inp">
                        <label for="task-inp">DESCRIPTION</label>
                        <input name="desc" type="text" id="task-inp" class="mtop" placeholder="What do you need to do?" required>
                    </div>
                    <div class="categories">
                        <label for="category-menu">CATEGORY</label>
                        <select name="category" id="category-menu" class="mtop">
                            <option value="Personal" selected>Personal</option>
                            <option value="Work">Work</option>
                            <option value="School">School</option>
                            <option value="Cleaning">Cleaning</option>
                            <option value="Shopping">Shopping</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                    <div class="dates">
                        <label for="date-inp">DUE DATE</label>
                        <input name="date" type="date" id="date-inp" class="mtop" required>
                    </div>
                    <div class="btns-container mtop">
                        <button id="submit-btn" type="submit"><i class="fa-solid fa-plus"></i>&emsp;Add Task</button>
                        <button id="delete-btn" type="button">
                            <a href="/delete-task">
                                <i class="fa-solid fa-trash"></i>&emsp;Delete Tasks
                            </a>
                        </button>
                    </div>
                </form>
            </div>
            <div id="tasks-container">
                <p id="instruction">Click on Label (not on checkbox) to mark Task as Completed!!</p>
                <!-- Looping through list of todos and adding tasks -->
                <% for(let task of tasks_list){ %>
                    <div class="task">
                        <hr>
                        <div class="task-details">
                            <div class="task-desc">
                                <input type="checkbox" id="<%= task._id %>" data-id="<%= task._id %>" <%= task.done? 'checked':'' %> disabled>
                                <label for="<%= task._id %>">
                                    <a href="/toggle-task?id=<%= task._id %>">
                                        <%= task.desc %>
                                    </a>
                                </label>    
                                <div class="date-container">
                                    <span><i class="fa-solid fa-calendar-days"></i></span>
                                    <span><%= task.date %></span>
                                </div>
                            </div>
                            <div class="category-desc">
                                <div class="category-name">
                                    <%= task.category %>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
        <script src="/js/script.js" type="text/javascript"></script>
    </body>
</html>